# 1. Write a Pandas program to import excel data into a Pandas dataframe.

In [1]:
import pandas as pd

In [13]:
df = pd.read_excel('E:\\DUCAT_PYTHON COURSE\\dataset\\analysis\\players.xlsx')
df.head()

     virat  32  12000
0    rohit  30  11900
1  pandaya  27   5000

# 2. Write a Pandas program to get the data types of the given excel data fields.

In [14]:
type(df)

pandas.core.frame.DataFrame

# 3. Write a Pandas program to read specific columns from a given excel file.

In [15]:
df.columns

Index(['virat', 32, 12000], dtype='object')

# 4. Write a Pandas program to find the sum, mean, max, min value of a numeric column.

KeyError: 0

# 5. Write a Pandas program to insert a column in the sixth position of the said excel sheet and fill it with NaN values.

# 6. Write a Pandas program to import excel data skipping first twenty rows into a Pandas dataframe.

# 7. Write a Pandas program to import excel data into a Pandas dataframe and display the last ten rows.

# 8. Write a Pandas program to import excel data into a Pandas dataframe and search a specific value

# 9. Write a Pandas program to detect missing values of a given DataFrame. Display True or False.

# 10. Write a Pandas program to identify the column(s) of a given DataFrame which have at least one missing value

# 11. Write a Pandas program to count the number of missing values in each column of a given DataFrame.

# 12. Write a Pandas program to drop the rows where at least one element is missing in agiven DataFrame.

# 13. Write a Pandas program to drop the columns where at least one element is missing in a given DataFrame.

# 14. Write a Pandas program to drop the rows where all elements are missing in a given DataFrame.

# 15. Write a Pandas program to keep the rows with at least 2 NaN values in a given DataFrame.

# 16. Write a Pandas program to drop those rows from a given DataFrame in which specific columns have missing values.

# 17. Write a Pandas program to calculate the total number of missing values in a DataFrame.

# 18. Write a Pandas program to replace NaNs with the value from the previous row or the next row in a given DataFrame

# 19. Write a Pandas program to replace NaNs with median or mean of the specified columns in a given DataFrame.

# 20. Write a Pandas program to fill the missing values using the fill method in a given DataFrame.