In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("E:\\DUCAT_PYTHON COURSE\\dataset\\analysis\\titanic.csv")

In [3]:
df

,PassengerId,Survived,Pclass,Name,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
# Survived columns (0(not av) & (1(av))) 
df.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [5]:
549/891 # 61% people not Survived

0.6161616161616161

In [6]:
342/891 # 38% people  Survived

0.3838383838383838

In [7]:
df.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [8]:
df.pivot_table(index="Survived",columns="Pclass",aggfunc="count")

          Age          Cabin        Embarked          Fare  ... PassengerId  \
Pclass      1   2    3     1   2  3        1   2    3    1  ...           3
Survived                                                    ...
0          64  90  270    59   3  6       80  97  372   80  ...         372
1         122  83   85   117  13  6      134  87  119  136  ...         119

         SibSp          Ticket          gender
Pclass       1   2    3      1   2    3      1   2    3
Survived
0           80  97  372     80  97  372     80  97  372
1          136  87  119    136  87  119    136  87  119

[2 rows x 30 columns]

In [9]:
df[(df.Survived==1) & (df.Pclass==1)].shape

(136, 12)

In [10]:
df[(df.Survived==0) & (df.Pclass==1)].shape

(80, 12)

In [11]:
136/216

0.6296296296296297

In [12]:
80/216

0.37037037037037035

In [13]:
df[(df.Survived==1) & (df.Pclass==2)].shape

(87, 12)

In [14]:
df[(df.Survived==0) & (df.Pclass==2)].shape

(97, 12)

In [15]:
87/184

0.47282608695652173

In [16]:
97/184

0.5271739130434783

In [17]:
df[(df.Survived==1) & (df.Pclass==3)].shape

(119, 12)

In [18]:
df[(df.Survived==0) & (df.Pclass==3)].shape

(372, 12)

In [19]:
119/491

0.24236252545824846

In [20]:
372/491

0.7576374745417516

In [21]:
df.gender.value_counts()

male      577
female    314
Name: gender, dtype: int64

In [22]:
df[(df.Survived==1) & (df.gender=="male")].shape

(109, 12)

In [23]:
109/577

0.18890814558058924

In [24]:
df[(df.Survived==1) & (df.gender=="female")].shape

(233, 12)

In [25]:
233/314

0.7420382165605095

In [26]:
df[(df.Age>=0) & (df.Age<=10)].shape

(64, 12)

In [27]:
df[(df.Age>=0) & (df.Age<=10) & (df.Survived==1)].shape

(38, 12)

In [28]:
38/64

0.59375

In [29]:
df[(df.Age>=60)].shape

(26, 12)

In [30]:
df[(df.Age>=60) & (df.Survived==1)].shape

(7, 12)

In [31]:
7/26

0.2692307692307692

In [32]:
df[(df.Age>=60) & (df.Survived==1) & (df.gender == "female")].shape

(4, 12)

In [33]:
df[(df.Age>=60) & (df.Survived==1) & (df.Pclass==1)].shape

(5, 12)

In [34]:
df[(df.SibSp==0) & (df.Parch==0) & (df.Survived==1)].shape

(163, 12)

In [35]:
df[(df.Pclass==1) & (df.Survived==1) & (df.gender=='male')].shape

(45, 12)

In [36]:
df[(df.Pclass==1) & (df.Survived==1) & (df.gender=='female')].shape

(91, 12)

In [37]:
df[(df.Pclass==1) & (df.gender=='male')].shape

(122, 12)

In [38]:
45/122

0.36885245901639346

In [39]:
df[(df.Pclass==1) & (df.Survived==1) & (df.gender=='female')].shape

(91, 12)

In [40]:
df[(df.Pclass==1) & (df.gender=='female')].shape

(94, 12)

In [41]:
91/94

0.9680851063829787

In [42]:
df

,PassengerId,Survived,Pclass,Name,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [43]:
df.Age.isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [44]:
df.Age.isnull().sum()

177

In [45]:
df.Survived.isnull().sum()

0

In [46]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
gender           0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [47]:
df[(df.Age.isnull())].shape

(177, 12)

In [48]:
df[~(df.Age.isnull())].shape

(714, 12)

In [50]:
df[(df.Age.isnull())].shape

(177, 12)

In [53]:
df.dropna(axis=0,subset=(['Age','Survived'])

SyntaxError: unexpected EOF while parsing (648542957.py, line 1)