# Categorical Data
**Types of Categorical Data**
- **Nominal Data**(Nominal data is used to lable variables without providing any quantitative value.**Ex- Female and Male (Not sum not sub)**)
- **Ordinal Data**(Ordinal data has values following a natural order(**1.-Strongly 2. Neutral 3. Strongly Disagree**))

# Techniques to Encode Categorical Data
- 1. One Hot Encoding
- 2. Label Encoding
- 3. Ordinal Encoding

# 1. One Hot Encoding
- For each level of a categorical feature, we create a new variable(**Categorical -- Red and Yellow**)
- Each category is mapped with a binary variable containing either 0(**Not Avilable**) or 1(**Avilable**).

In [10]:
ohe = preprocessing.OneHotEncoder()

In [11]:
ohe.fit(data)

OneHotEncoder()

In [13]:
encoding_ohe_data = ohe.transform(data)

In [15]:
encoding_ohe_data.toarray()

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# 2. Lable Encoding
- Lable encoding is converting the lables into a numeric form (**The machine -readable form**).

In [3]:
from sklearn import preprocessing
import pandas as pd

In [4]:
le = preprocessing.LabelEncoder()

In [5]:
data = pd.DataFrame({'animals':['cat','dog','horse']})

In [6]:
data

  animals
0     cat
1     dog
2   horse

In [7]:
le.fit(data)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LabelEncoder()

In [8]:
 encoding_data = le.transform(data)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
encoding_data

array([0, 1, 2])