In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("Dataset/classification/online_shop.csv")
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [9]:
# One Hot Encoding
df2 = pd.get_dummies(df)
df2

     Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0     19            19000          0              0            1
1     35            20000          0              0            1
2     26            43000          0              1            0
3     27            57000          0              1            0
4     19            76000          0              0            1
..   ...              ...        ...            ...          ...
395   46            41000          1              1            0
396   51            23000          1              0            1
397   50            20000          1              1            0
398   36            33000          0              0            1
399   49            36000          1              1            0

[400 rows x 5 columns]

In [11]:
y = df2.iloc[:,2]
X = df2.drop(['Purchased'],axis=1)

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1)
sc = MinMaxScaler(feature_range=(0,1))
X_train_new = sc.fit_transform(X_train)
X_test_new = sc.transform(X_test)

model = KNeighborsClassifier(n_neighbors=8)
model.fit(X_train_new,y_train)

pred_train = model.predict(X_train_new)
pred_test = model.predict(X_test_new)

print("Train Score : ", accuracy_score(y_train,pred_train))
print("Test Score : ", accuracy_score(y_test,pred_test))

Train Score :  0.9266666666666666
Test Score :  0.89

In [25]:
#  predict sample testing
gd = input("Enter Gender: ")
ag = float(input("Enter Age : "))
sal = float(input("Enter Salary : "))

# Convert test to numeric using LabelEncoding
gd  = pd.get_dummies('gd')
print(gd)

# Using Feature Scaling means All Unseen Data are same range
sample = sc.transform([[gd,ag,sal]])

# Finall Predict Output(0 means Not Purchased  And 1 Means Purchased)
output = model.predict(sample)
if(output == 0):
    print("Not Purchased: ", output)
else:
    print("Purchased : ", output)

Enter Gender:  Male
Enter Age :  23
Enter Salary :  20000

   gd
0   1

C:\Users\rka_rahul\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 2 dimensions. The detected shape was (1, 3) + inhomogeneous part.