In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv("dataset/online_shop.csv")
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

##### Convert text to float using by LabelEncoder

In [4]:
en = LabelEncoder()
df.Gender = en.fit_transform(df.Gender)

dtype('int32')

### Using KNeighborsClassifier by Spliting

In [113]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1)

model = KNeighborsClassifier()
model.fit(X_train,y_train)
pred_train = model.predict(X_train)
pred_test = model.predict(X_test)

print("Train Score : ",accuracy_score(y_train,pred_train))
print("Test Score : ",accuracy_score(y_test,pred_test))

Train Score :  0.8966666666666666
Test Score :  0.75

## With Feature Scaling by MaxAbsScaler

In [114]:
sc = MaxAbsScaler()
X_train_new = sc.fit_transform(X_train)
X_test_new = sc.transform(X_test)

model = KNeighborsClassifier(n_neighbors=8)
model.fit(X_train_new,y_train)


pred_train_new  = model.predict(X_train_new)
pred_test_new = model.predict(X_test_new)

print("Train Score : ",accuracy_score(y_train,pred_train_new))
print("Test Score : ",accuracy_score(y_test,pred_test_new))

Train Score :  0.9266666666666666
Test Score :  0.89

######

### With Feature Scaling by MinMaxScaler

In [115]:
sc = MinMaxScaler(feature_range=(0,1))
X_train_new = sc.fit_transform(X_train)
X_test_new = sc.transform(X_test)

model = KNeighborsClassifier(n_neighbors=8)
model.fit(X_train_new,y_train)


pred_train_new  = model.predict(X_train_new)
pred_test_new = model.predict(X_test_new)

print("Train Score : ",accuracy_score(y_train,pred_train_new))
print("Test Score : ",accuracy_score(y_test,pred_test_new))

Train Score :  0.9266666666666666
Test Score :  0.89

### this is a Bestfit model

### Predict Sample Testing

In [ ]:
gd = input("Enter Gender: ")
ag = float(input("Enter Age : "))
sal = float(input("Enter Salary : "))

df2 = pd.DataFrame({'Gender':[gd],'Age':[ag],'Sal':[sal]})

# Convert test to numeric using LabelEncoding
df2.Gender = en.transform(df2.Gender)

# Using Feature Scaling means All Unseen Data are same range
sample = sc.transform(df2)

# Finall Predict Output(0 means Not Purchased  And 1 Means Purchased)
output = model.predict(sample)
if(output == 0):
    print("Not Purchased: ", output)
else:
    print("Purchased : ", output)