In [14]:
# Install pymysql Module
#!pip install pymysql

Requirement already satisfied: pymysql in c:\users\hp\anaconda3\lib\site-packages (1.1.0)

In [4]:
# step 1 import db specific driver module
import pymysql

# step 2 create connection object
conobj= pymysql.connect(host="localhost",port=3306,user="root",password="root",database="9to10")
print(conobj)


# step 3 create cursor object: it responsible to execute sql queries
curobj= conobj.cursor()
print(curobj)

#step 4 Excute queries on curobj
curobj.execute("insert into emp values(100,'rps',1000,'hr')")
curobj.execute("update emp set empsal=empsal+1")
curobj.execute("delete from emp where empid=600")

# step 5 commit the connection
conobj.commit()

conobj.close()
print("quries excuted")

<pymysql.connections.Connection object at 0x000001BC1F6F8A90>
<pymysql.cursors.Cursor object at 0x000001BC1F81FF70>
quries excuted

In [5]:
import pymysql
conobj= pymysql.connect(user="root",password="root",database="9to10")
print(conobj)
curobj= conobj.cursor()
eid =int(input("Enter empid"))
en =input("Enter name")
esal =float(input("Enter emsal"))
ed =input("Enter emdept")
curobj.execute("insert into emp values(%s,%s,%s,%s)",(eid,en,esal,ed))
conobj.commit()
conobj.close()

<pymysql.connections.Connection object at 0x000001BC1F6F8E20>

Enter empid 2000
Enter name dnjdnw
Enter emsal 23343
Enter emdept dwdd

IntegrityError: (1062, "Duplicate entry '2000' for key 'emp.PRIMARY'")

In [6]:
import pymysql
try:
    conobj= pymysql.connect(user="root",password="root",database="9to10")
    curobj= conobj.cursor()
    eid =int(input("Enter empid"))
    en =input("Enter name")
    esal =float(input("Enter emsal"))
    ed =input("Enter emdept")
    
    curobj.execute("insert into emp values(%s,%s,%s,%s)",(eid,en,esal,ed))
    conobj.commit()
    print("recod")
    
except Exception as e:
    print(e)
conobj.close()

Enter empid 2000
Enter name dss
Enter emsal 213123
Enter emdept sdfw

(1062, "Duplicate entry '2000' for key 'emp.PRIMARY'")

In [13]:
import pymysql
conobj = pymysql.connect(user="root",password="root",database="9to10")
curobj = conobj.cursor()
curobj.execute("select * from emp")
row =curobj.fetchone()
print(row)

rows = curobj.fetchmany(3)
print(rows)

rows = curobj.fetchall()
print(rows)

conobj.close()

(100, 'rps', 1001.0, 'hr')
((101, 'rps', 1003.0, 'hr'), (103, 'pintu', 14003.0, 'hr2'), (104, 'sachin', 15003.0, 'hr3'))
((105, 'pk', 16503.0, 'hr'), (106, 'pant', 17003.0, 'hr6'), (201, 'chintu', 18503.0, 'coding'), (202, 'rka', 19003.0, 'coding'), (203, 'surya', 17003.0, 'accounts'), (500, 'surya', 17003.0, 'accounts'), (501, 'shikhar', 18503.0, 'cricket'), (2000, 'kohali', 10001.0, 'cricket'), (2001, 'sanjay', 6002.0, 'hr'), (2003, 'rohit', 40001.0, 'cricket'))

In [14]:
import pymysql
conobj = pymysql.connect(user="root",password="root",database="9to10")
curobj = conobj.cursor()
curobj.execute("select * from emp")

rows = curobj.fetchall()
print(rows)

conobj.close()

((100, 'rps', 1001.0, 'hr'), (101, 'rps', 1003.0, 'hr'), (103, 'pintu', 14003.0, 'hr2'), (104, 'sachin', 15003.0, 'hr3'), (105, 'pk', 16503.0, 'hr'), (106, 'pant', 17003.0, 'hr6'), (201, 'chintu', 18503.0, 'coding'), (202, 'rka', 19003.0, 'coding'), (203, 'surya', 17003.0, 'accounts'), (500, 'surya', 17003.0, 'accounts'), (501, 'shikhar', 18503.0, 'cricket'), (2000, 'kohali', 10001.0, 'cricket'), (2001, 'sanjay', 6002.0, 'hr'), (2003, 'rohit', 40001.0, 'cricket'))

In [15]:
import pymysql
conobj = pymysql.connect(user="root",password="root",database="9to10")
curobj = conobj.cursor()
curobj.execute("select * from emp")

rows = curobj.fetchall()
for row in rows:
    print(row)

conobj.close()

(100, 'rps', 1001.0, 'hr')
(101, 'rps', 1003.0, 'hr')
(103, 'pintu', 14003.0, 'hr2')
(104, 'sachin', 15003.0, 'hr3')
(105, 'pk', 16503.0, 'hr')
(106, 'pant', 17003.0, 'hr6')
(201, 'chintu', 18503.0, 'coding')
(202, 'rka', 19003.0, 'coding')
(203, 'surya', 17003.0, 'accounts')
(500, 'surya', 17003.0, 'accounts')
(501, 'shikhar', 18503.0, 'cricket')
(2000, 'kohali', 10001.0, 'cricket')
(2001, 'sanjay', 6002.0, 'hr')
(2003, 'rohit', 40001.0, 'cricket')

In [16]:
import pymysql
conobj = pymysql.connect(user="root",password="root",database="9to10")
curobj = conobj.cursor()
curobj.execute("select * from emp")

for row in curobj:
    print(row)

conobj.close()

(100, 'rps', 1001.0, 'hr')
(101, 'rps', 1003.0, 'hr')
(103, 'pintu', 14003.0, 'hr2')
(104, 'sachin', 15003.0, 'hr3')
(105, 'pk', 16503.0, 'hr')
(106, 'pant', 17003.0, 'hr6')
(201, 'chintu', 18503.0, 'coding')
(202, 'rka', 19003.0, 'coding')
(203, 'surya', 17003.0, 'accounts')
(500, 'surya', 17003.0, 'accounts')
(501, 'shikhar', 18503.0, 'cricket')
(2000, 'kohali', 10001.0, 'cricket')
(2001, 'sanjay', 6002.0, 'hr')
(2003, 'rohit', 40001.0, 'cricket')

In [21]:
import pymysql
conobj = pymysql.connect(user="root",password="root",database="9to10")
curobj = conobj.cursor()
curobj.execute("select * from emp")


print("-------------------------------")
print("Empid\tEmpname\tEmpsal\tDept")
print("-------------------------------")
for row in curobj:
    print(f"{row[0]}\t{row[1]}\t{row[2]}\t{row[3]}")

conobj.close()

-------------------------------
Empid	Empname	Empsal	Dept
-------------------------------
100	rps	1001.0	hr
101	rps	1003.0	hr
103	pintu	14003.0	hr2
104	sachin	15003.0	hr3
105	pk	16503.0	hr
106	pant	17003.0	hr6
201	chintu	18503.0	coding
202	rka	19003.0	coding
203	surya	17003.0	accounts
500	surya	17003.0	accounts
501	shikhar	18503.0	cricket
2000	kohali	10001.0	cricket
2001	sanjay	6002.0	hr
2003	rohit	40001.0	cricket

In [23]:
import pymysql
conobj = pymysql.connect(user="root",password="root",database="9to10")
curobj = conobj.cursor()
curobj.execute("select * from emp where empid=101")
row = curobj.fetchone()
print(row)

conobj.close()

(101, 'rps', 1003.0, 'hr')

In [24]:
import pymysql
conobj = pymysql.connect(user="root",password="root",database="9to10")
curobj = conobj.cursor()
curobj.execute("select * from emp where empid=1091")
row = curobj.fetchone()
print(row)

conobj.close()

None

In [27]:
import pymysql
conobj = pymysql.connect(user="root",password="root",database="9to10")
curobj = conobj.cursor()
empid = int(input("Enter empid"))
curobj.execute("select * from emp where empid=%s",(empid))
row = curobj.fetchone()
if(row==None):
    print("empid does not exist")
else:
    print(row)

conobj.close()

Enter empid 102

empid does not exist

In [38]:
from tkinter import *
win=Tk()
win.geometry("600x300")
win.configure(bg='yellow')

def search():
    import pymysql
    conobj = pymysql.connect(user="root",password="root",database="9to10")
    curobj = conobj.cursor()
    empid = int(e1.get())
    curobj.execute("select * from emp where empid=%s",(empid,))
    row = curobj.fetchone()
    res=Label(win,font=('arial',15),bg='yellow')
    res.place(x=100,y=100)
    if(row==None):
        res.configure(text="empid does not exist",fg='red')
    else:
        res.configure(text=row,fg='green')

    conobj.close()
l1 =Label(win,text="empid",font=('arial',15),bg='yellow')
l1.place(x=100,y=10)

e1 =Entry(win,font=('arial',20),bd=5)
e1.place(x=100,y=40)

b=Button(win,font=('arial',15),bd=5,text="search",command=search)
b.place(x=400,y=40)

win.mainloop()

# SQLite
- It is file based database that supports sql queries
- It requires zero configure.
- Drive of SQLite is also bundled with python
- It was initially developed for mobile devices but now it is also available for laptop/desktop.

In [40]:
import sqlite3
conobj =sqlite3.connect(database="G:/mydb.sqlite")
curobj =conobj.cursor()
curobj.execute("create table emp(empid int primary key,empsal float,empname text)")
conobj.commit()
conobj.close()
print("table create")

table create